<div class="container signup well">
  <h2 class="h2signup">Sign up</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :name, label:"Nombre", required: true, autofocus: true %>
      <%= f.input :last_name, label: "Apellido", required: true, autofocus: true %>
      <%= f.input :student_id, label:"Matricula", required: true, autofocus: true %>
      <%= f.input :email, label:"Correo", required: true, autofocus: true %>
      <%= f.input :password, label:"Contraseña", required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
      <%= f.input :password_confirmation, label:"Confirmar Contraseña", required: true %>
    </div>

    <div class="form-actions divSignUp">
      <%= f.button :submit, "Sign up" %><br><br>
      <%= render "users/shared/links" %>
    </div>
</div>
<% end %>

